services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:v3.8.0
    container_name: mealie
    restart: unless-stopped
    ports:
      - "9925:9000"
    deploy:
      resources:
        limits:
          memory: 1000M
    volumes:
      - mealie-data:/app/data/
    environment:
      ALLOW_SIGNUP: "true"
      TZ: Europe/Berlin
      BASE_URL: http://localhost:9925

volumes:
  mealie-data:
